.store-background {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('/querykicks/assets/background/store-bg.webp') center/cover no-repeat;
    background-attachment: fixed;
}
