// navbar.scss

// Wrapper to align navbar and tab-content side by side
.main-content {
    display: flex;
    align-items: flex-start; // Align the navbar and tab-content to the top
    gap: 2em; // Optional: add space between navbar and tab-content
    padding: 1em;
    font-family: $font-family;
}
.navbar {
    width: auto;
    max-width: none;
    padding: 0.5em;
    position: relative;// Slightly wider for improved readability
    display: flex;
    flex-direction: column;
    align-items: flex-start; // Align buttons to the start within the navbar
    background-color: rgba($color-darker, 0.8); // Optional background for visibility
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
