/ tabs.scss

.tab-content {
    flex: 1;
    background-color: rgba($color-light, 0.5);
    display: none;
    max-width: 85%;
    width: 85%;
    height: auto;
    max-height: 45vh;
    padding: 1em;
    margin: 0;
    overflow-y: auto;
    box-shadow: -.32em 0 0 0 #5f737b,
                .32em 0 0 0 #5f737b,
                0 -.32em 0 0 #5f737b,
                0 .32em 0 0 #5f737b;
    border-radius: 5px;
}

.tab-content.active {
    display: block;
}

.tab-button,
.logout-button { // Combined styles for tab and logout buttons
    font-family: $font-family;
    position: relative; /* Required for pseudo-elements */
    display: flex; /* Flexbox for alignment */
    align-items: center; /* Vertically align icon and text */
    justify-content: flex-start; /* Ensure the text is aligned to the left */
    background: $color-light;
    color: $color-darker;
    width: 100%; /* Button spans the entire navbar width */
    margin: 0.5em 0;
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-align: left;
    box-shadow: -0.3em 0 0 0 $color-medium,
                0.3em 0 0 0 $color-medium,
                0 -0.3em 0 0 $color-medium,
                0 0.3em 0 0 $color-medium;
    border-radius: 4px;
}

.tab-button.active,
.tab-button:hover,
.logout-button:hover {
    background-color: $color-medium;
    color: $color-lighter;
    transform: translateY(-2px); /* Subtle lift effect */
}

.tab-button::before,
.logout-button::before { // Shared pseudo-element for both buttons
    content: "";
    width: 2em; /* Adjust size as needed */
    height: 2em;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('/querykicks/assets/arrow3.svg');
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.2s ease;
}

.tab-button:hover::before,
.tab-button.active::before,
.logout-button:hover::before {
    opacity: 1;
}

.tab-button.active::before {
    animation: rotateX-anim 2s linear infinite;
}


/* Responsive adjustments for buttons */
@media screen and (max-width: 768px) {
    .tab-button,
    .logout-button {
        font-size: 0.8em; /* Slightly smaller font for smaller screens */
        padding: 0.4em 0.8em;
    }
}
