.cart-wrapper {
    padding: 1em;
    background-color: rgba($color-light, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba($color-darker, 0.1);
    font-family: $font-family;

    h2 {
        margin-bottom: 1em;
        font-size: 1.5em;
        color: $color-darker;
    }

    .cart-items {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .cart-item {
        display: flex;
        align-items: center;
        padding: 1em;
        background-color: $color-lighter;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba($color-medium, 0.1);

        img {
            width: 80px;
            height: 80px;
            object-fit: cover;
            margin-right: 1em;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba($color-medium, 0.2);
        }

        .cart-item-details {
            flex: 1;

            h3 {
                margin: 0;
                font-size: 1.2em;
                color: $color-darker;
            }

            p {
                margin: 0.5em 0;
                font-size: 0.9em;
                color: $color-medium;
            }
        }

        .remove-from-cart {
            padding: 0.5em 1em;
            font-size: 0.9em;
            background-color: $color-medium;
            color: $color-lighter;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: $color-darker;
            }
        }
    }

    p {
        font-size: 1em;
        color: $color-medium;
        text-align: center;
    }
}
