@media screen and (max-width: 768px) {
    .main-content {
        flex-direction: column;
        gap: 1em;
    }

    .navbar {
        width: 100%;
        flex: none;
        position: relative;
        top: 0;
    }

    .tab-wrapper {
        width: 100%;
        flex: none;
    }

    .tab-content {
        position: relative;
        height: auto;
        min-height: 45vh;
    }
}